body{     
  font-family: 'Roboto', sans-serif;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s ease-in-out;
  z-index: 1;
}

.searchbar.active {
  align-items: start;
  margin-top: 0.5em;
}

@media (min-width: 662px) { 
  .input {
    padding-left: 20px;
    font-size: 1.4em;
    color: grey;
    border-radius: 25px;
    border: 2px solid grey; 
    width: 400px;
    height: 45px;
    margin-right: 10px;
  }

  button {
    font-size: 1.4em;
    border-radius: 25px;
    border: 2px solid grey; 
    width:60px;
    height: 45px;
    color: grey;
  }
}

@media (max-width: 661px) { 
  .input {
    padding-left: 20px;
    font-size: 1.4em;
    color: grey;
    border-radius: 25px;
    border: 2px solid grey; 
    width: 200px;
    height: 45px;
    margin-right: 10px;
  }

  button {
    font-size: 1.4em;
    border-radius: 25px;
    border: 2px solid grey; 
    width:60px;
    height: 45px;
    color: grey;
  }
}

a{
  text-decoration:none;
}

#results {
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.movie {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

img{
  border-radius: 2%;
}